<%= form_for(@storage) do |f| %>
  <% if @storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
      <% @storage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :japanesename %><br>
    <%= f.text_field :japanesename %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :resolution %><br>
    <%= f.number_field :resolution %>
  </div>
  <div class="field">
    <%= f.label :locationhdd %><br>
    <%= f.number_field :locationhdd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
