<p id="notice"><%= notice %></p>

<h1>Mewfy Media Storage</h1>

    <%= form_tag storages_path, :method => 'get'  do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
    <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Japanesename</th>
      <th>Genre</th>
      <th>Format</th>
      <th>Resolution</th>
      <th>Locationhdd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td><%= storage.name %></td>
        <td><%= storage.japanesename %></td>
        <td><%= storage.genre %></td>
        <td><%= storage.format %></td>
        <td><%= storage.resolution %></td>
        <td><%= storage.locationhdd %></td>
        <td><%= link_to 'Show', storage %></td>
        <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
        <td><%= link_to 'Destroy', storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storage', new_storage_path %>